<!--Header navigation section for Pets R Us Website-->
<header>
    <div class="navigation-bar">
        <ul id="header-navigation">
        <li><a class="navigation-link" href="https://christman-web-340-pets-r-us-project.onrender.com/">Home</a></li>
            <li><a class="navigation-link" href="/registration">Sign Up</a></li>
            <li><a class="navigation-link" href="/appointments">Schedule Appointments</a></li>
            <li><a class="navigation-link" href="/customers">Customers</a></li>            
            <li><a class="navigation-link" href="/grooming">Grooming</a></li>
            <li><a class="navigation-link" href="/boarding">Boarding</a></li>
            <li><a class="navigation-link" href="/training">Training</a></li>
        </ul>
    </div>
</header>
