<!--Header navigation section for Pets R Us Website-->
<header>
    <div class="navigation-bar">
        <ul id="navigation-bar">
            <li><a class="navigation-link" href="/registration">Sign Up</a></li>
            <li><a class="navigation-link" href="/appointments">Schedule Appointments</a></li>
            <li><a class="navigation-link" href="/customers">Customers</a></li>            
            <li><a class="navigation-link" href="/grooming">Grooming</a></li>
            <li><a class="navigation-link" href="/boarding">Boarding</a></li>
            <li><a class="navigation-link" href="/training">Training</a></li>
            <li><a class="navigation-link" href="/index">Home</a></li>
        </ul>
    </div>
</header>
